:root {
  --primary: #0d1117 !important;
  --secondary: #263440 !important;
}

body {
  background-color: #0d1117;
  color: white;
  font-family: Montserrat, sans-serif !important;
}

.w-15 {
  width: 15% !important;
}

.card-aboutme {
  background-color: var(--primary);
  color: white;
  border: 2px solid white;
}

.footer-text {
  color: gray !important;
}