:root {
  --primary: #0d1117 !important;
  --secondary: #263440 !important;
}

body {
  background-color: #0d1117;
  color: white !important;
  font-family: Montserrat, sans-serif !important;
}

.w-15 {
  width: 15% !important;
}

.card-aboutme {
  background-color: var(--primary);
  color: white;
  border: 2px solid white;
}

.modal {
  background-color: rgba(0, 0, 0, 0.53);
  color: black;
}

.modal-content {
  background-color: white;
}

.footer {
  margin-top: 2% !important;
}

.footer-text {
  color: gray !important;
}

.navbar, .navbar-brand, .nav-link {
  background-color: var(--primary) !important;
  color: white !important;
}

.form-input {
  background-color: var(--secondary) !important;
  border: none !important;
  color: white !important;
  width: 66%;
  align-content: center;
  margin: auto;
}