@import url(https://fonts.googleapis.com/css?family=Montserrat);

* {
  padding: 0px;
  font-family: Montserrat;
  color: white;
  align-items: center;
}

body {
  background-color: #0d1117;
}

.container {
  display: flex;
  color: #1a1a1d;
  font-size: 20px;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  background-color: rgb(51, 71, 86);
  border: 2px solid rgb(51, 71, 86);
  border-color: rgb(51, 71, 86);
  padding: 5px;
  font-size: 20px;
  border-radius: 20px;
  margin-top: 20px;
  width: 125px;
  height: 60px;
  margin: 5px;
  margin-bottom: 20%;
}

.gender-container {
  display: flex;
  flex-direction: row;
  gap: 5%;
}

.gender-label {
  align-items: center;
  justify-content: center;
  width: 100px;
  padding: 10px;
  border: 2px solid black;
  cursor: pointer;
  background-color: rgb(51, 71, 86);
  transition: background-color 0.3s, color 0.3s;
  border-radius: 20px;
  color: white;
  text-align: center;
  border: 2px solid rgb(51, 71, 86);
}

.gender-label:hover {
  background-color: rgb(25, 59, 85);
}

input[type="radio"] {
  display: none;
}

input[type="radio"]:checked + .gender-label {
  background-color: white;
  color: black;
}

.inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2%;
  width: 50%;
}

input[type="text"],
input[type="number"],
select {
  border-radius: 20px;
  border: 2px solid rgb(51, 71, 86);
  padding: 0.8%;
  width: 65%;
  background-color: rgb(51, 71, 86);
  margin-top: 0.5%;
  font-size: 24px;
}

select {
  margin-top: 2%;
  display: block;
  margin: 0 auto;
}

#label,
#pal {
  margin-top: 2%;
}

#height-input {
  margin-top: 3%;
}

#age-input {
  margin-top: 3%;
}

.submit-button {
  background-color: rgb(51, 71, 86);
  border: 2px solid rgb(51, 71, 86);
  border-color: rgb(51, 71, 86);
  padding: 10px;
  font-size: 20px;
  border-radius: 20px;
  margin-top: 2%;
  width: 125px;
  height: 60px;
}

.feedback {
  display: flex;
  align-items: center;
  justify-content: center;
}

#feedback {
  margin-top: 2%;
  font-size: 20px;
}
