.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.username,
.password {
  font-size: 30px;
  margin-bottom: 5px;
}

input {
  width: 200px;
  font-size: 25px;
  padding: 15px;
  background-color: #0d1117;
  border: 1px white solid;
  border-radius: 20px;
  margin-bottom: 15px;
}
