@import url(https://fonts.googleapis.com/css?family=Montserrat);

* {
  padding: 0px;
  font-family: Montserrat;
  color: white;
  align-items: center;
}

body {
  background-color: #0d1117;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#name {
  font-size: 35px;
  margin-top: 20px;
  margin-bottom: -10px;
}

#phone {
  font-size: 25px;
  margin-bottom: -5px;
}

#adress {
  font-size: 20px;
  margin-bottom: -10px;
}

#placeplz {
  font-size: 20px;
}
