@import url(https://fonts.googleapis.com/css?family=Montserrat);

* {
  padding: 0px;
  font-family: Montserrat;
  color: white;
  align-items: center;
}

body {
  background-color: #0d1117;
}

.projects {
  margin-left: auto;
}

.button-social-header {
  background-color: #0d1117;
  border: 2px solid #0d1117;
  border-color: #0d1117;
  padding: 10px;
  font-size: 20px;
  border-radius: 20px;
  margin-top: 20px;
  width: 125px;
  height: 60px;
}

.button-social-header:hover {
  cursor: pointer;
  color: rgb(68, 134, 239);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

ul {
  list-style-type: none;
}

.projects-heading {
  text-align: center;
}
