@import url(https://fonts.googleapis.com/css?family=Montserrat);

* {
  padding: 0px;
  font-family: Montserrat;
  color: white;
  align-items: center;
}

body {
  background-color: #0d1117;
}

.profile_pic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.16);
  margin-bottom: 15px;
  animation: animate-profile-picture 800ms 200ms backwards;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1%;
}

.header_paragraph {
  margin-top: 0.1px;
  color: white;
  font-family: Montserrat;
  font-size: 27px;
  margin-bottom: 0%;
}

.button-home {
  background-color: rgb(51, 71, 86);
  border: 2px solid rgb(51, 71, 86);
  border-color: rgb(51, 71, 86);
  padding: 10px;
  font-size: 20px;
  border-radius: 20px;
  margin-top: 1%;
  margin-right: 1%;
  width: 125px;
  height: 60px;
  position: absolute; /* Positioning the button */
  top: 0; /* Align to the top */
  right: 0; /* Align to the right */
}

.button-home:hover {
  cursor: pointer;
  background-color: #0d1117;
}

.container {
  display: flex;
  color: #1a1a1d;
  font-size: 20px;
  width: 100%;
  align-items: center;
}

.container-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  background-color: rgb(51, 71, 86);
  border: 2px solid rgb(51, 71, 86);
  border-color: rgb(51, 71, 86);
  padding: 5px;
  font-size: 20px;
  border-radius: 20px;
  margin-top: 20px;
  width: 125px;
  height: 60px;
  margin: 5px;
}

.button:hover {
  cursor: pointer;
  background-color: #0d1117;
}

.copyright a,
.copyright p,
.copyright {
  text-align: center;
  margin-top: 2.5%;
}

.copyright-p a,
.copyright-p p,
.copyright-p {
  color: gray;
  text-decoration: none;
}
